.registro {
    position: absolute;
    right: 1px;
    top: 0;
    width: 100%;
    max-width: 500px;
    height: 130vh;
    background: rgb(202, 221, 229, 0.7);;
    /* background: #434343; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s all ease;
  }
  .titleRegistro {
    font-size: 1em;
    width: 100%;
    font-family: "Bellota Text", cursive;
    columns: #212121;;
    text-align: center;
    padding-left: 40px;
    justify-content: center;
  }
  .contentRegistro {
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
  }
  /* .input {
    font-size: 1em;
    color: #212121;
    margin: 6px 0 3px 0;
    border-radius: 20px;
    border: 1px;
    padding: 10px 8px;
    background: white;
    outline: none;
    text-decoration: none;
  } */
  .contentButtons {
    width: 100%;
    margin: 25px 0 0 0;
    display: flex;
    justify-content: space-around;
  }
  /* .button{
    color: #cadde5;
    background-color: #1e4069;
    border: 1px solid #1e4069;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 5px;
    cursor: pointer;
    outline: none;
    font-size: 1em;
    text-decoration: none;
  }
  .button:hover {
    color: #1e4069;
    border: 1px solid #1e4069;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 0 5px;
    cursor: pointer;
    background: rgb(202, 221, 229, 0.7);
    outline: none;
  } */