

body{
    background-image: url("../img/fondocarousel.png");
	font-family: 'Source Sans Pro', sans-serif;
}

.panel-body{
    background-image: url("../img/fondocarousel.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
	position: absolute;
	background-image: url("../img/bannermobile.png");
	background-size: cover;
	margin-bottom: 0px;
	margin-left: -108px;
	width: 98%;
}

#content{
	padding-bottom: 20px;
}

.img-responsive{
	display: initial;
}

form{
	color: black;
}

h2{
	color: #0079c2;
}

.load{
	display: table;
	position: fixed;
	z-index: 100; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(255,255,255); 
	background-color: rgba(255,255,255,0.8); 
}

.image-load{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	margin: auto;
}

#btnEnviar{
    background-color: #0079c2;
	margin: 25px 0px;
}

.checkboxContainer .form-control-feedback{
    right: -25px !important;
}

.selectGroupContainer .form-control-feedback{
    right: 35px !important;
}


@media (min-width: 768px) {
    .infoConferencia{
        margin-bottom: 0px;
    }
    .infoConferencia > label{
        text-align: left !important;
    }
}

#formEditar{
    display: flexbox;
    text-align-last: left;
}

.from1{
	margin-top: 100px;
    padding-left: 280px;
    margin-left: 10px;
}




