

body{
    background-image: url("../img/fondocarousel.png");
	font-family: 'avenir-next-lt-pro';
}

.panel-body{
    background-image: url("../img/fondocarousel.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
	position: absolute;
	background-image: url("../img/Banner1.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-right: 1%;
	margin-left: 1%;
	width: 98%;
	height: 150px;
}

#content{
	padding-bottom: 20px;
	font-family: 'avenir-next-lt-pro';
}

.img-responsive{
	display: initial;
}

form{
	color: black;
}

h2{
	color: #0079c2;
	font-family: 'avenir-next-lt-pro';
}


/* .Imprimir{
	background-color: #0079c2;
	color: antiquewhite;
    margin-left: 10px;
    text-justify: auto;
	padding: 4px;
	width: 200px;
	font-family: 'avenir-next-lt-pro';
} */
.ver{
	position: absolute;
	background-color: #0079c2;
	color: antiquewhite;
    margin-left: 60px;
    padding-top:100%;
    text-justify: auto;
	padding: 4px;
	width: 200px;
	font-family: 'avenir-next-lt-pro';
}

/* .checkboxContainer .form-control-feedback{
    right: -25px !important;
}

.selectGroupContainer .form-control-feedback{
    right: 35px !important;
} */


 
/* #formEditar{
    display: flexbox;
    text-align-last: left;
} */

.from10{
	margin-top: 100px;
    padding-left: 280px;
	margin-left: 10px;
	font-family: 'avenir-next-lt-pro';
}


.titulo{
	/* margin-left: -170px; */
	font-family: 'avenir-next-lt-pro';
}

