
.swal-modal {
	border: 3px solid #00BECB;;
  }
.icons{
	width: 13%;
}
.input2{
	z-index:5;
	background: #efeff1;
	border-radius: 0px ;
	/* margin-left: 100px; */
	/* min-height: 30px; */
	min-width: 100%;
	font-size: 1em;
    color: #212121;
    /* margin: 6px 0 3px 0; */
    /* border: 1px; */
    /* padding: 10px 8px; */
    outline: none;
	text-decoration: none;
	font-family: 'AvenirCondensedHand';
}
.left{
	text-align-last: left;
}

body{
    background-image: url("../img/fondocarousel.png");
	font-family: 'AvenirCondensedHand';
}

.panel-body{
	background-image: url("../img/fondocarousel.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
	position: absolute;
	background-image: url("../img/Banner.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -15px;
	margin-left: -115px;
	max-width: 98%;
}

#content{
	padding-bottom: 20px;
	font-family: 'AvenirCondensedHand';
}

.img-responsive{
	display: initial;
}

form{
	color: black;
}

h2{
	color: #0079c2;
	font-family: 'AvenirCondensedHand';
}



.Enviar{
	background-color: #0079c2;
	color: antiquewhite;
	font-family: 'AvenirCondensedHand';
	margin-left: 200px;
	padding: 4px;
	width: 300px;
}

.checkboxContainer .form-control-feedback{
    right: -25px !important;
}

.selectGroupContainer .form-control-feedback{
    right: 35px !important;
}


@media (min-width: 768px) {
    .infoConferencia{
        margin-bottom: 0px;
    }
    .infoConferencia > label{
        text-align: left !important;
    }
}


.from1{
	margin-top: 150px;
	padding-left: 160px;
	font-family: 'AvenirCondensedHand';
}

.titulo{
	margin-left: -170px;
	font-family: 'AvenirCondensedHand';
}
.container{
	font-family: 'AvenirCondensedHand';
}


