
@media only screen and (max-width: 766px) {
	.form-group{
		margin-left: 14%;
		margin-right: 14%;
	}
	.lado{
		margin-left: 6%;
	}
	.imprimirG{
		margin-right: 3% !important; 
	}
}
@media only screen and (max-width: 575px) {
	.imprimirG{
		margin-right: 20% !important; 
	}
}
.swal-modal {
	border: 3px solid #00BECB;;
  }
.icons{
	width: 13%;
}
.input2{
	z-index:5;
	background: #efeff1;
	border-radius: 0px ;
	/* margin-left: 100px; */
	/* min-height: 30px; */
	width: 100%;
	font-size: 1em;
    color: #212121;
    /* margin: 6px 0 3px 0; */
    /* border: 1px; */
    /* padding: 10px 8px; */
    outline: none;
	text-decoration: none;
	font-family: "AvenirPro";
}
.input{
	z-index:5;
	background: #efeff1;
	border-radius: 0px ;
	/* min-height: 30px; */
	width: 100%;
	font-size: 1em;
    color: #212121;
    /* margin: 6px 0 3px 0; */
    /* border: 1px; */
    /* padding: 10px 8px; */
    outline: none;
	text-decoration: none;
	font-family: "AvenirPro";
}
.form-group{
	margin-left: 14%;
}
.imprimirG{
	margin-left: 26% !important; 
}
.left{
	text-align-last: left;
}

body{
    background-image: url("../img/fondocarousel.png");
	font-family: "AvenirPro";
}

.panel-body{
	background-image: url("../img/fondocarousel.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* .jumbotron{
	position: absolute;
	background-image: url("../img/Banner3.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -15px;
	margin-left: -115px;
	max-width: 98%;
} */
/* .imagen{
	width: 96%;
	
	height: 24%;
	margin-left: 2%;
	margin-right: 2%;
	position: absolute;
} */

#content{
	padding-bottom: 20px;
	font-family: "AvenirPro";
}

.img-responsive{
	display: initial;
}

form{
	color: black;
}

h2{
	color: #0079c2;
	font-family: "AvenirPro";
}



.Enviar{
	background-color: #0079c2;
	color: antiquewhite;
	font-family: "AvenirPro";
	margin-left: 22%;
	/* padding: 4px; */
	width: 40%;
}
.Imprimir{
	background-color: #0079c2;
	color: antiquewhite;
	font-family: "AvenirPro";
	margin-left: 3%;
	/* padding: 4px; */
	width: 30%;
}
  @font-face{
    font-family: "AvenirPro";
    src:url("avenir-next-lt-pro.otf")
  }

.checkboxContainer .form-control-feedback{
    right: -25px !important;
}

.selectGroupContainer .form-control-feedback{
    right: 35px !important;
}


@media (min-width: 768px) {
    .infoConferencia{
        margin-bottom: 0px;
    }
    .infoConferencia > label{
        text-align: left !important;
    }
}


.from1{
	margin-top: 150px;
	padding-left: 160px;
	font-family: "AvenirPro";
}
.container{
	font-family: "AvenirPro";
}


